@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@700&family=Open+Sans:wght@400;700&family=Roboto:wght@400;500&family=Work+Sans:wght@600;700&display=swap');
*>* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-style: normal;
    color: #000000;
}

body {
    background: #F5F5F5;
}

a {
    text-decoration: none;
    color: #713FFF;
}

a.lost-paswword {
    color: #F10000;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    background: none;
}

button.btn.btn-primary {
    background: #713FFF;
    border: none;
    border-radius: 3px;
}

.row {
    padding: 0;
}

.col-md-6 {
    padding: 0;
}


/* --------------- Header --------------- */

.header {
    width: 100%;
    height: 70px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 10px 16px 32px rgba(0, 0, 0, 0.1);
}

.pluginbuffet-logo {
    font-family: 'Kodchasan';
    font-size: 16px;
    color: #191818;
}

.pluginbuffet-nav {
    justify-content: end;
}

.pluginbuffet-nav li {
    margin: 15px 30px 0 0;
}

.pluginbuffet-nav a {
    font-family: 'Open Sans';
    font-size: 16px;
    color: #191818;
}

.log-in {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    padding: 8px 20px 7px 20px;
    background: #713FFF;
    border-radius: 3px;
    margin: 0 0 0 10px;
}

.toggle-btn {
    display: none;
}

.navbar-toggler {
    border: none;
}


/* --------------- /Header --------------- */


/* --------------- Main flie----------------- */


/* ----------------- Banner-area ------------------ */

.banner {
    padding: 187px 0 176px 0;
}

.header-title h1 {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 84px;
    line-height: 84px;
}

.header-title p {
    padding: 30px 0 42px 0;
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 37px;
    color: rgba(0, 0, 0, 0.7)
}

.banner-btn {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 3px;
}


/* ----------------- /Banner-area ------------------ */


/* ------------------ Plugins -------------------- */

.plugin {
    padding: 70px 0 70px 0;
}

.plugin-title h1 {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 40px;
}

.plugin-title p {
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 37px;
    color: rgba(0, 0, 0, 0.7);
    padding: 5px 0 15px 0;
}


/* -------- EDD add-on ------------ */

.edd-add-on {
    padding: 35px 0 20px 0;
}

.edd h3 {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 32px;
    padding: 20px 0 10px 0;
}

.edd p {
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.7);
    padding: 0 5px 5px 0;
}

.edd-btn {
    background: #713FFF;
    border-radius: 3px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    padding: 8px 20px 8px 19px;
}

.row-2 {
    justify-content: center;
}


/* -------- EDD add-on ------------ */


/* ------------------ /Plugins -------------------- */


/* ---------------- comments-area -------------------- */

.comments {
    padding: 121px 0 26px 0;
}

.comments h1 {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 84px;
    line-height: 84px;
    padding: 0 0 0 23px;
}

.comment {
    width: 90%;
    margin-bottom: 67px;
    background: #FFFFFF;
    box-shadow: 50px 52px 64px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.comment img {
    width: 83px;
    border-radius: 41px;
    height: 80px;
    margin: 30px 40px 0 35px;
}

.comment p {
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    margin: 30px 60px 25px 0;
}

.comment h4 {
    font-family: 'Roboto';
    font-size: 24px;
    color: #713FFF;
    padding: 0 0 20px 0;
}

.comment-col-1 {
    margin: 52px 0 0 23px;
}

.comment-col-2 {
    margin: -185px 0 0 0;
}


/* ---------------- /comments-area -------------------- */


/* --------------- /Main flie----------------- */


/* ----------------- Footer ------------------- */

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding: 55px 0 15px 0;
}

.footer-row {
    margin: auto;
    padding: 0 0 55px 0;
}

.footer-title a {
    font-family: 'Kodchasan';
    font-weight: 700;
    font-size: 40px;
    color: #191818;
}

.footer-title p {
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.7);
    padding: 27px 0 0px 0;
}

.social-midea-logo {
    margin-top: -17px;
}

.footer-right {
    width: 46%;
}

.sign-up-section a {
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 32px;
    color: #000000;
}

.blog-email-from {
    padding: 7px 0 7px 0;
    border-bottom: 1px solid #0D291F;
}

.email {
    width: 100%;
    font-family: 'Open Sans';
    font-size: 17px;
    line-height: 175%;
    color: rgba(0, 0, 0, 0.6);
    border: none;
    background: #F5F5F5;
}

.sign-up-button {
    background: #713FFF;
    border-radius: 3px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    width: 100%;
    margin: 15px 0 0 0;
    padding: 9px 0 9px 0;
}

.footer-links {
    padding-top: 27px;
}

.footer-links h4 {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 24px;
    color: #713FFF;
    padding: 0 0 12px 0;
}

.footer-links h5 {
    padding: 0 0 5px 0;
}

.footer-links a {
    font-family: 'Roboto';
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8)
}

.second {
    padding-left: 50px;
}

.third {
    padding-left: 90px;
}

.copy {
    font-family: 'Roboto';
    font-size: 24px;
    color: #a3a3a3
}


/* ----------------- /Footer ------------------- */

/* ----------------- Support Page----------------- */
.login-area{
    margin: 90px 0;
}

.login-instruction {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 106px;
}

.login-form {
    max-width: 45%;
    margin: 50px auto 0;
}

.login-form-bottom {
    display: flex!important;
    flex-direction: column;
    align-items: center;
}

.login-form-bottom a, .login-form-bottom button, .login-form-bottom span {
    margin: 5px 0;
}

.login-form input.t-input {
    border: 2px solid #dcdcdc;
    border-radius: 3px;
    padding: 10px 16px;
}
/* ----------------- /Support Page----------------- */